body {
  background: lightblue;
}
h1 {
  font-family: arial;
}
.informacion ul a {
  color: white;
  font-size: 18px;
}
.informacion {
  box-shadow: 0px 0px 10px black;
  text-shadow: 0px 0px 5px black;
}
