$fuente-tipica: sans-serif, Helvetica, Arial;
$color-fondo: #ccc;
$color-letra: red;
$color-secundario: rgb(122,20,20);

body{
    background-color: $color-fondo;
}

h1{
    font-family: $fuente-tipica;
    color: $color-letra;
}

p{
    color: $color-secundario;
}

.caja{
    h1{
        color: blue;
    }

    p{
        color: green;
    }

    .info{
        font-size: 10px;
        span{
            color:orange;
        }
    }
    border:1px solid black;
    width: 500px;
    margin: 0px auto;
    text-align: center;
    background-color: white;
    padding: 10px;
}

//mixins

@mixin crearBordes($color, $size, $shadow){
    border:$size solid $color;
    border-radius: $size;
    box-shadow: 0px 0px $size $shadow;
}

.caja{
    @include crearBordes(red,10px,black);
}

.listado{
    @include crearBordes(green, 5px, black);
}

//herencia

%alert-normal{
    border: 1px solid gray;
    background: black;
    color:white;
    padding: 10px;
    width:80%;
    margin:20px auto;
}

.alert{
    @extend %alert-normal;
}

.alert-danger{
    @extend %alert-normal;
    color:red;
    border-color: red;
}

.alert-succes{
    @extend %alert-normal;
    color:green;
    border-color: green;
}

//Operadores

h1{
    font-size: 20px + 5px -1px;
}

.clearFix{
    clear:both;
}

$caja:200px;
$wrap: 900px;

.cajas{
    width: $wrap;
    margin:0px auto;
}

.caja{
    width: $caja / $wrap *100%;
    float:left;
}

//condicionales

h1{
    @if $color-fondo == #ccc {
        color: black
    } @else if $color-fondo == white{
        color: lightcyan
    } @else{
        color:pink;
    }
}

//for

$contador: 1;

@for $contador from 1 through 10{
    .listado ul li:nth-child(#{$contador}){
        font-size: $contador * 2px;
    }
}

