*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li{
    font-size: 20px;
}

ul li:first-child{
    color:purple;
}

ul li:nth-child(2){
    color:yellow;
}

ul li:last-child{
    color:gray;
}

#enlace{
    font-size: 30px;
    color: salmon;
}

#enlace:link{
    color:red;
}

#enlace:visited{
    color:purple;
}

#enlace:hover{
    font-size: 13px;
}

#input:focus{
    border: 4px solid red;
}

#enlace:focus{
    border: 10px solid red;
}