#boton{
    display: block;
    padding: 20px;
    background-color: green;
    color:white;
    width:200px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border:5px solid rgb(1, 82, 1);
    transition: border 500ms;
}

#boton:hover{
    border-radius: 15px;
    background-color: orangered;
    border: 5px solid red;
}

#caja{
    width: 250px;
    height: 250px;
    background-color: lightcoral;
    color:white;
    border: 5px solid black;
    margin-top:25px;
    font-size: 20px;
    text-align: center;
    line-height:250px;
    animation-name: desplazamiento;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes desplazamiento{
    0%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
    50%{
        margin-left: 1000px;
        transform: rotate(360deg);
        border-radius: 999px;
    }
    100%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
}